{% extends "base.html" %}
{% load static %}
{% block title %}{{ block.super }} | Welcome{% endblock title %}

<!-- {% block script %} -->

<script src="{% static 'js/custom.js' %}"></script>

<!-- {% endblock script %} -->


{% block content %}

    <!-- Masthead -->
    <!--<header class="masthead text-white text-center">-->
      <!--<div class="overlay"></div>-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-xl-9 mx-auto">-->
            <!--<h1 class="mb-5 lead"> Let the politicians hear your voice!</h1>-->
          <!--</div>-->
          <!--<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</header>-->

<div class="container">

      <h1 class="my-4 font-weight-bold"> Politicians <small class ="text-muted h6 font-italic text-capitalize blockqoute-footer"> Featured profiles this week </small></h1>

      <!-- Marketing Icons Section -->
    <!-- Page Features -->
    <div class="row text-center">
        {% include "cards_small.html" %}
        {% include "cards_small.html" %}
        {% include "cards_small.html" %}
        {% include "cards_small.html" %}
    </div>
    <!-- /.row -->
      <!-- /.row -->

       </br>
      <!-- Portfolio Section -->
      <h2>Biggest Gainers and Losers </h2>


          <!--{% if user.is_authenticated %}-->
                     <!--<p class="display-4">Hello, {{ user.username }}</p>-->
          <!--{% else %}-->
                     <!--<a class="lead" href="{% url 'login' %}">Log in</a>-->
          <!--{% endif %}-->


   <hr/>
       </br>
      <h3>Gaining popularity! </h3>
      <div class="row">
          {% include "front_biggest_gainers.html" %}
      </div>
      <!-- /.row -->
    </br>
   <hr/>
   <h3> Loosing popularity  </h3>

      <div class="row">
          {% include "front_biggest_loosers.html" %}
      </div>
      <!-- /.row -->
    <!-- /.container -->
{% endblock content %}