{% load static %}

{% block script %}

<script src="{% static 'js/custom.js' %}"></script>

{% endblock script %}


<div class='container'>
	 <form id ='main-search-form' method='GET' action='{% url "candidatesapp:candidatelist" %}'>
	      <div class="form-row">
			  <!--<div class="col-12 col-md-3">-->
				  <!--<img src="https://png.icons8.com/ios/50/000000/search.png">-->
				  <img src="https://png.icons8.com/cotton/50/000000/search.png">
				  <!--<button  type="submit" class="btn btn-outline-primary btn-lg">Search</button>-->
			  <!--</div>-->
	            <div class="col-12 col-md-6 mb-1 mb-md-0">
	                  <input class="form-control form-control-lg " id ="form_searchID" type='text' name='q' placeholder='Search for Politicians..' value='{{ request.GET.q }}'/>
	            </div>

	      </div>
	</form>
</div>

